<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>WriCreate Horror</title>
  
  <!-- Favicon -->
  <link rel="icon" href="images/favicon.png" type = "image/x-icon">

  <!-- Paper CSS -->
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">
  	
  <!-- Font Awesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">

  <!-- Custom stylesheet -->
  <link rel="stylesheet" href="horror.css">



</head>


<body>






<!-- Navbar -->
  <nav class="border fixed split-nav" style="background-color: #e7e1fb;">
    <div class="nav-brand">
       <a href="#"><img src="images/logo (2).png" style="height:53px"/></a>
    </div>
    <div class="collapsible">
      <input id="collapsible1" type="checkbox" name="collapsible1">
      <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
      <div class="collapsible-body">
        <ul class="inline">
          <li><a href="https://wricreate.herokuapp.com">Home</a></li>
          <li><a href="https://github.com/Swatilekha-Roy/WriCreate"><i class="fab fa-github" style="font-size: 40px"></i></a></li>
        </ul>
      </div>
    </div>

    <!-- Lights -->
    <ul class="lightrope">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    </nav>
  




<div  class="quote">
  <h2>Time for some bone chilling progress!</h2>
    <p style="color: #ccc8c8;">“Let’s leave!” A bruised Sam croaked.
A dozen faces with green voids instead of eyes turned from screens. 
“Oh no, they are…” Christy stammered.

“Outside, it was night and the entire park looked deserted. All of us were panting and Sam voiced our feelings, “Was that real?”
“Hope not”, I said.
</p>
</div>







     
  <%  comments.forEach(function(comment){ %>
   <div class="row flex-top" style="display: flex; margin: auto 2%;">
      <header class="border shadow comment-bg">
      <h5 class="" style="font-weight: 800;"><%=comment.title%> : &nbsp;</h5>
        <p style="line-height: 30px;"><%=comment.post%></p>
	        </header>   
	      </div>

<% }) %>
      


    <form class="sweet-form" action="/horror" method="post" style="margin-left: 9vw; margin-right:9vw;">
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" name="postTitle" style="background: #dee9f5;" required><br>
        <label>Continue our story</label>
        <textarea class="form-control" name="postBody" rows="4" cols="70" style="background: #dee9f5;" placeholder="Take it where you please, no duty on creativity!" required></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button" style="background: #f3a8b5;">Publish</button>
      
    </form>

  

    <!-- Footer -->
<div class="footer-con row flex-center">
  <div class="col-12">
    <footer class="border shadow">
      <p style="margin-left: 3%">Made with <i class="fas fa-heart"></i> by WriCreate.

    </footer>
  </div>
</div>


</body>
</html>

