<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Light</title>
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">
  <link rel="stylesheet" href="style.css">
  	<!-- Font Awesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">

</head>
<body>

  <nav class="border fixed split-nav">
    <div class="nav-brand">
      <h3><a href="#">Get PaperCSS</a></h3>
    </div>
    <div class="collapsible">
      <input id="collapsible1" type="checkbox" name="collapsible1">
      <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
      <div class="collapsible-body">
        <ul class="inline">
          <li><a href="#">Documentation</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Github</a></li>
        </ul>
      </div>
    </div>

    <ul class="lightrope">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
  </nav>

  


<div class="container">
        <div class="row flex-top flex-center">
          <header class="border shadow">
          <h1>Random Quote Generator</h1>
          </header>
        </div>
         
        <div class="row flex-center">
         <button id="button" class="btn-large new-quote-button" onClick="getQuote()">New Quote</button>
         <button id="button" class="btn-large tweet-button" onClick="tweetQuote()">Tweet Quote</button>
         <button id="button" class="btn-large fb-button" onClick="shareQuote()">Share Quote</button>
        </div>
         
        <div class="row flex-center">
         <main class="card">
          <p class="quote card-body center" id="newQuoteSection">Start browsing our prompts for a perfect story!</p>
         </main>
        </div>
             
        <div class="row flex-bottom flex-center">
         
        </div>
           
    </div>

    <script type="text/javascript" src="script.js"></script>
</body>
</html>

