<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>WriCreate Poetry</title>
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">
  
    <link rel="icon" href="images/favicon.png" type = "image/x-icon">
  	<!-- Font Awesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">

    <link rel="stylesheet" href="poetry.css">

    

</head>
<body>
<!--Falling Leaves-->


  <!-- Navbar -->
  <nav class="border fixed split-nav" style="background-color: #e7e1fb;">
    <div class="nav-brand">
       <a href="#"><img src="images/logo (2).png" style="height:53px"/></a>
    </div>
    <div class="collapsible">
      <input id="collapsible1" type="checkbox" name="collapsible1">
      <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
      <div class="collapsible-body">
        <ul class="inline">
          <li><a href="https://wricreate.herokuapp.com/">Home</a></li>
          <li><a href="https://github.com/Swatilekha-Roy/WriCreate"><i class="fab fa-github" style="font-size: 40px"></i></a></li>
        </ul>
      </div>
    </div>
    <!-- Lights -->
    <ul class="lightrope">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    </nav>





 





<!-- Quote -->

<div  class="quote">
  <h2>Feel the poet stirring within you?</h2>
  <p>Join us and our amazing poetry community on this beautiful journey of creating what matters most to your heart! With WriCreate, come together with fellow poets from all across the world and feel the sense of serenity and belongingness that we all deserve and desire most! See if it makes you stay and miss the 'Obscure'...</p><br>
    <p>"These places you don’t bother to remember, They miss your indifference." </p>
</div>



       <!-- Comment section -->
  <%  poems.forEach(function(poem){ %>
   <div class="row flex-top" style="display: flex; margin: auto 2%;">
      <header class="border shadow comment-bg">
      <h5 class="" style="font-weight: 800;"><%=poem.title%> : &nbsp;</h5>
        <p style="line-height: 30px;"><%=poem.post%></p>
	        </header>   
	      </div>

<% }) %>



    <form class="sweet-form" action="/poetry" method="post" style="margin-left: 9vw; margin-right:9vw;">
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" name="postTitle" style="background: #dee9f5;"><br>
        <label>Continue our story</label>
        <textarea class="form-control" name="postBody" rows="4" cols="70" style="background: #dee9f5;" placeholder="Take it where you please, no duty on creativity!"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button" style="background: #f3a8b5;">Publish</button>
      <!--<button class="btn" style="background: #f7ff78; margin-left: 2%;" onclick="window.location.reload();">Reload</button>-->
    </form>



<!-- Footer -->
<div class="footer-con col-sm-12 row flex-center">
  <div class="col-12">
    <footer class="border shadow">
      <p style="margin-left: 3%">Made with <i class="fas fa-heart"></i> by WriCreate.
     
    </footer>
  </div>
</div>


</script>


</body>
</html>
