<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>WriCreate Romance</title>
  <link rel="icon" href="images/favicon.png" type = "image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
  	<!-- Font Awesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<script src="https://use.edgefonts.net/creepster.js"></script>-->

    <link rel="stylesheet" href="romance.css">



</head>
<body>


  <!-- Navbar -->
  <nav class="border fixed split-nav">
    <div class="nav-brand">
       <a href="#"><img src="images/logo (2).png" style="height:53px"/></a>
    </div>
    <div class="collapsible">
      <input id="collapsible1" type="checkbox" name="collapsible1">
      <label for="collapsible1">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
      <div class="collapsible-body">
        <ul class="inline">
          <li><a href="#">Home</a></li>
          <li><a href="https://github.com/Swatilekha-Roy/WriCreate"><i class="fab fa-github" style="font-size: 40px"></i></a></li>
        </ul>
      </div>
    </div>
    </nav>

    <!--Background-->
    <p style="display: none;">
VALENTINES HEARTS
</p>
<style>
	/* customizable heart styling */
	.heart {
	  color: #800000;
	  font-size: 2em;
	  font-family: Arial, sans-serif;
	  text-shadow: 0 0 5px #ffffff;
    
	}
	
	@-webkit-keyframes hearts-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes hearts-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes hearts-fall{0%{top:-10%}100%{top:100%}}@keyframes hearts-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.heart{position:fixed;top:-10%;z-index:9999;-webkit-animation-name:hearts-fall,hearts-shake;animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:hearts-fall,hearts-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.heart:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.heart:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.heart:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.heart:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.heart:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.heart:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.heart:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.heart:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.heart:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.heart:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.heart:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.heart:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}
	</style>
	<div class="hearts" aria-hidden="true">
	  <div class ="heart">
	    &#10084;
	  </div>
    <div class ="heart">
      &#10084;
    </div>
    <div class="heart">
      &#10084;
    </div>
    <div class="heart">
      &#10084;
    </div>
    <div class="heart">
      &#10084;
    </div>
    <div class="heart">
    &#10084;
    </div>
    <div class="heart">
      &#10084;
    </div>
    <div class="heart">
      &#10084;
    </div>
    <div class="heart">
      &#10084;
    </div>
    <div class="heart">
      &#10084;
    </div>
        <div class="heart">
      &#10084;
    </div>
    <div class="heart">
      &#10084;
    </div>
        <div class="heart">
      &#10084;
    </div>
    <div class="heart">
      &#10084;
    </div>
    
    <!--Bachground end-->


<!-- Quote -->



<div  class="quote">
  <h2>In mood for writing some romance?</h2>
    <p>“I met you two years after we first touched. It was my sweet sixteenth and you were the sixteenth tick off on my birthday list. Just another hired walking and talking Barbie girl wearing my favorite flowery dress.  
    <br>A rich politician’s rich gift to her poor and pampered daughter. You were on the other side of the kitchen turned pop up bar, cleaning each peg till it was shining like the diamond brooch on my Corduroy cardigan.”</p>
</div>

<label class="love-toggle" style="margin-left:5vw;"><input type="checkbox" /><span class="material-icons icon"><div style="display:flex"><i class="fas fa-heart" ></i>&nbsp;<p style="line-height:2px; font-size:30px;">Like it?</p></div><div class="brust"></div></span></label>

 <!--   
        <button class="btn-small" onclick="setRandomColor()">Color Change</button>
-->

    <!-- Comment section -->
  <%  romments.forEach(function(romment){ %>
   <div class="row flex-top" style="display: flex; margin: auto 2%;">
      <header class="border shadow comment-bg">
      <h5 class="" style="font-weight: 800;"><%=romment.title%> : &nbsp;</h5>
        <p style="line-height: 30px;"><%=romment.post%></p>
	        </header>   
	      </div>

<% }) %>



    <form class="sweet-form" action="/romance" method="post" style="margin-left: 9vw; margin-right:9vw;">
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" name="postTitle" style="background: #dee9f5;"><br>
        <label>Continue our story</label>
        <textarea class="form-control" name="postBody" rows="4" cols="70" style="background: #dee9f5;" placeholder="Take it where you please, no duty on creativity!"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button" style="background: #f3a8b5;">Publish</button>
      <button class="btn" style="background: #f7ff78; margin-left: 2%;" onclick="window.location.reload();">Reload</button>
    </form>



<!-- Footer -->
<div class="footer-con row flex-center">
  <div class="col-12">
    <footer class="border shadow">
      <p style="margin-left: 3%">Made with <i class="fas fa-heart"></i> by WriCreate.
      <!--<div class="row flex-right">

        <div class="sm-4 col"><a href="https://github.com/Swatilekha-Roy/WriCreate" style="text-decoration: none !important;"><i class="fab fa-github" style="font-size: 40px"></i></a></div>
      </div>-->
    </footer>
  </div>
</div>

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
  function getRandomColor() {
  var letters = 'BCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}



function setRandomColor() {
  $(".comment-bg").css("background-color", getRandomColor());
}
</script>
-->
 <!--      <script>
    function myFunction(x) {
        x.classList.toggle("highlighted");
    }
    var counter = 0;
    // var like/s=document.getElementById("likes");
    function count() {
    $('#notify').addClass("notification");
    // $("#notify").html(counter);
    }
    $('body').on('click', '.btn', function(e) {
    $(this).toggleClass("increment");
    
    if($(this).hasClass("increment")){
        counter++;
        // likes++;
    }else{
      // likes--;/
        counter--;
    }
        // if(counter===1){
        //   console.log("hii");
        //   likes++;
        // }else{
        //   likes--;
        // }
        // Like.updateOne({_id:"607121e391d45f3178a44f3d"},{count:0},function(err){
        //   if(err){
        //     console.log(err);
        //   }else{
        //     console.log("updated");
        //   }
        // }); 
        
    count();
    });
    </script>-->
</body>
</html>