<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Light</title>
  <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.2/dist/paper.min.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
  	<!-- Font Awesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.notification {
  color: white;
  font-size: large;
}

.highlighted{
    color: darkblue;
}
</style>

</head>
<body>
    
    <i onclick="myFunction(this)" class="fa fa-thumbs-up btn"></i>
    <span id="notify" class="notification"></span>

    <%  comments.forEach(function(comment){ %>
    <div style="display: flex; background-color: whitesmoke; ">
      <h5 style="font-weight: 800;"><%=comment.title%> : &nbsp; </h5>
      <h5 style="text-transform: unset;"><%=comment.post%></h5>
    </div>

      <% }) %>

    <form class="" action="/story" method="post">
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Comment</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>



    <script>
    function myFunction(x) {
        x.classList.toggle("highlighted");
    }

    var counter = 0;
    // var like/s=document.getElementById("likes");

    function count() {
    $('#notify').addClass("notification");
    // $("#notify").html(counter);
    }

    $('body').on('click', '.btn', function(e) {
    $(this).toggleClass("increment");
    
    if($(this).hasClass("increment")){
        counter++;
        // likes++;
    }else{
      // likes--;/
        counter--;
    }
        // if(counter===1){
        //   console.log("hii");
        //   likes++;
        // }else{
        //   likes--;
        // }

        // Like.updateOne({_id:"607121e391d45f3178a44f3d"},{count:0},function(err){
        //   if(err){
        //     console.log(err);
        //   }else{
        //     console.log("updated");
        //   }
        // }); 
        
    count();
    });

    </script>
</body>
</html>

