body {
  background: #fbf1ef;
}

.quote {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  margin: 1% 4% 5% 4%;
  z-index: 99999;
}

.heart{
  height: 5px;
  width: auto;
}

.highlighted{
    color: darkblue;
}


/* Lights */
 .lightrope {
   text-align: center;
   white-space: nowrap;
   overflow: hidden;
   position: absolute;
   z-index: 1;
   margin: -15px 0 0 0;
   margin-top: 45px;
   padding: 0;
   pointer-events: none;
   width: 100%;
}
 .lightrope li {
   position: relative;
   animation-fill-mode: both;
   animation-iteration-count: infinite;
   list-style: none;
   margin: 0;
   padding: 0;
   display: block;
   width: 12px;
   height: 28px;
   border-radius: 50%;
   margin: 20px;
   display: inline-block;
   background: rgba(0, 247, 165, 1);
   box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
   animation-name: flash-1;
   animation-duration: 2s;
}
 .lightrope li:nth-child(2n+1) {
   background: rgba(0, 255, 255, 1);
   box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
   animation-name: flash-2;
   animation-duration: 0.4s;
}
 .lightrope li:nth-child(4n+2) {
   background: rgba(247, 0, 148, 1);
   box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
   animation-name: flash-3;
   animation-duration: 1.1s;
}
 .lightrope li:nth-child(odd) {
   animation-duration: 1.8s;
}
 .lightrope li:nth-child(3n+1) {
   animation-duration: 1.4s;
}
 .lightrope li:before {
   content: "";
   position: absolute;
   background: #222;
   width: 10px;
   height: 9.3333333333px;
   border-radius: 3px;
   top: -4.6666666667px;
   left: 1px;
}
 .lightrope li:after {
   content: "";
   top: -14px;
   left: 9px;
   position: absolute;
   width: 52px;
   height: 18.6666666667px;
   border-bottom: solid #222 2px;
   border-radius: 50%;
}
 .lightrope li:last-child:after {
   content: none;
}
 .lightrope li:first-child {
   margin-left: -40px;
}
 @keyframes flash-1 {
   0%, 100% {
     background: rgba(0, 247, 165, 1);
     box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
  }
   50% {
     background: rgba(0, 247, 165, 0.4);
     box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
  }
}
 @keyframes flash-2 {
   0%, 100% {
     background: rgba(0, 255, 255, 1);
     box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 1);
  }
   50% {
     background: rgba(0, 255, 255, 0.4);
     box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
  }
}
 @keyframes flash-3 {
   0%, 100% {
     background: rgba(247, 0, 148, 1);
     box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
  }
   50% {
     background: rgba(247, 0, 148, 0.4);
     box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
  }
}

@media only screen and (max-width: 700px) {
  .lightrope {
    margin-top: 0;
    padding-top: 0;
  }
}



header {
  background-color: rgba(209, 209, 209, 0.829);
  padding: 0rem 0.5rem;
}

.comment-bg {
  margin-right: 15%;
  margin-bottom: 7px;
  margin-top: 20px;
}

@media only screen and (max-width: 700px) {
  margin-right: 2%;
}

.sweet-form {
  margin-top: 3%;
  margin-left: 2%;
}

.comment-bg:nth-child(1) {
  margin-right: 5%;
  float: left;
}

.comment-bg:nth-child(2) {
  margin-left: 5%;
  float: right;
  background: red;
}

.comment-bg {
  background: #eebaff;
}


/* Footer */

.footer-con {
  margin-bottom: 0;
}

footer {
  margin: 4% 0 0 0;
  margin-bottom: 0 !important;
  overflow: hidden;
  background: rgb(213 201 253);
}

a .fa-github:link {
  text-decoration: none;
}

a .fa-github:visited {
  text-decoration: none;
}

a .fa-github:hover {
  text-decoration: none;
}

a .fa-github:active {
  text-decoration: none;
}



/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
  background-color: #fbf1ef;
}
::-webkit-scrollbar-track {
  background-color: #fbf1ef;
  box-shadow: inset 0 0 5px #00a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: red;
  height: 5px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fa0;
}

::-webkit-scrollbar-thumb:active {
  background: #0a0;
}




.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
  float: right;
  margin-right: 2%;
}






html {
  overflow-x: hidden;
}




